body {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 132, 132);
    border-top: 1px solid transparent;
    color: rgb(31, 29, 29);
    font-size: 22px;
}

nav {
    font-size: 30px;
    text-align: center;
    background: #412849;
    height: 100px;
}

.content-section {
    background-color: rgb(235, 227, 227);
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

main {
    width: 9%;
    margin: auto;
}

h2 {
    text-align: center;
}

button {
    background: #325d7a;
    background: -webkit-linear-gradient(top, #1f282e, #325d7a);
    background: -moz-linear-gradient(top, #1f282e, #325d7a);
    background: -o-linear-gradient(top, #1f282e, #325d7a);
    padding: 8.5px 17px;
    color: white;
    font-size: 12px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}

button:hover {
    border-top-color: #324857;
    background: #324857;
    color: #ccc;
}

button:active {
    border-top-color: #415461;
    background: #415461;
}