 body {
     font-size: 2.2em;
 }
 
 a .tritono {
     margin-top: .7%;
     margin-left: 64.5%;
     float: left;
     position: absolute;
 }
 
 #divAngus,
 #divMalcolm,
 #divBon {
     position: absolute;
     top: 26%;
     left: 45%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard,
 #divrock,
 #divbluess,
 #divrar {
     position: absolute;
     top: 30%;
     left: 37%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard1,
 #divbluess1,
 #divrock1,
 #divrar1 {
     position: absolute;
     top: 80%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard6,
 #divbluess6,
 #divrock6,
 #divrar6 {
     position: absolute;
     top: 43%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard7,
 #divbluess7,
 #divrock7,
 #divrar7,
 #divhard8,
 #divbluess8,
 #divrock8,
 #divrar8,
 #divhard21,
 #divbluess21,
 #divrock21,
 #divrar21 {
     position: absolute;
     top: 93%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard10,
 #divblues10,
 #divrock10,
 #divrar10 {
     position: absolute;
     top: 57%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard11 {
     position: absolute;
     top: 90%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divbluess12,
 #divrock13,
 #divrar14 {
     position: absolute;
     top: 114%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard15,
 #divbluess15,
 #divrock15,
 #divrar15 {
     position: absolute;
     top: 95%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard16,
 #divbluess16,
 #divrock16,
 #divrar16,
 #divhard17,
 #divbluess17,
 #divrock17,
 #divrar17,
 #divhard18,
 #divbluess18,
 #divrock18,
 #divrar18 {
     position: absolute;
     top: 75%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divMark15,
 #divBJ15,
 #divAY15,
 #divMY15,
 #divCW15,
 #divSW15,
 #divPR15,
 #divBS15 {
     position: absolute;
     top: 230%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBJ16,
 #divAY16,
 #divMY16,
 #divCW16,
 #divSW16 {
     position: absolute;
     top: 215%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBJ17,
 #divAY17,
 #divMY17,
 #divCW17,
 #divCS17,
 #divBJ18,
 #divAY18,
 #divMY18,
 #divCW18,
 #divPR18 {
     position: absolute;
     top: 227%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBJ19,
 #divAY19,
 #divSY19,
 #divCW19,
 #divPR19,
 #divBJ20,
 #divAY20,
 #divSY20,
 #divCW20,
 #divPR20 {
     position: absolute;
     top: 190%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBJ21,
 #divAY21,
 #divMY21,
 #divCW21,
 #divPR21 {
     position: absolute;
     top: 244%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBS1,
 #divAY1,
 #divMY1,
 #divGY1,
 #divRB1,
 #divTC1,
 #divPC1,
 #divJP1 {
     position: absolute;
     top: 142%;
     left: 30%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBJ01,
 #divAY01,
 #divMY01,
 #divCW01,
 #divPR20 {
     position: absolute;
     top: 255%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBS,
 #divAY,
 #divMY,
 #divMY,
 #divME,
 #divPR,
 #divHV,
 #divGY {
     position: absolute;
     top: 153%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBS2,
 #divAY2,
 #divMY2,
 #divPC2,
 #divTC2,
 #divRB2,
 #divJP2,
 #divGY2 {
     position: absolute;
     top: 228%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBS3,
 #divAY3,
 #divMY3,
 #divGY3,
 #divRB3,
 #divTC3,
 #divBS4,
 #divAY4,
 #divMY4,
 #divRB4,
 #divTC4 {
     position: absolute;
     top: 161%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divAY6,
 #divMY6,
 #divBS6,
 #divCliff6,
 #divPR6,
 #divHV6,
 #divGY6 {
     position: absolute;
     top: 166%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBS7,
 #divBS8,
 #divAY7,
 #divMY7,
 #divCW7,
 #divPH7,
 #divAY8,
 #divMY8,
 #divCW8,
 #divPH8 {
     position: absolute;
     top: 240%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBJ9,
 #divAY9,
 #divMY9,
 #divCW9,
 #divPH9 {
     position: absolute;
     top: 221%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBJ10,
 #divAY10,
 #divMY10,
 #divCW10,
 #divPH10 {
     position: absolute;
     top: 205%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divBJ14,
 #divAY14,
 #divMY14,
 #divCW14,
 #divSW14 {
     position: absolute;
     top: 265%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divSlash,
 #divKeith,
 #divEddie,
 #divGene,
 #divRon {
     position: absolute;
     top: 30%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divCliff {
     position: absolute;
     top: 30%;
     left: 43%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divMark6 {
     position: absolute;
     top: 40%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divME4_1 {
     position: absolute;
     top: 40%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divhard9 {
     position: absolute;
     top: 80%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divbluess9,
 #divrock9,
 #divrar9 {
     position: absolute;
     top: 78%;
     left: 38%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divCountry,
 #divBlues,
 #divR_B,
 #divGospel {
     position: absolute;
     top: 91%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divGuitarra,
 #divBase,
 #divSolo {
     position: absolute;
     top: 91%;
     left: 40%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divContra,
 #divEletrico,
 #divBateria {
     position: absolute;
     top: 101%;
     left: 20%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divPiano,
 #divSax {
     position: absolute;
     top: 101%;
     left: 0.5%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divTempo,
 #divCaixa {
     position: absolute;
     top: 142%;
     left: 25%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divRosetta,
 #divGoree,
 #divJimy,
 #divBill,
 #divJackie {
     position: absolute;
     top: 212%;
     left: 25%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 #divClock,
 #divBillH {
     position: absolute;
     top: 222%;
     left: 25%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: 1%;
     height: auto;
 }
 
 .css {
     float: left;
     margin-top: 1%;
     max-width: 25%;
     margin-left: 1%;
     margin-right: 1%;
 }