#divCAZUZA,
#divROBERTO_FREJAT,
#divMAURICIO_BARROS,
#divDE,
#divGUTO_GOFFI,
#divPENINHA,
#divFERNANDO_MAGALHAES,
#divRODRIGO_SANTOS,
#divRODRIGO_SURICATO {
    font-size: 17px;
    position: absolute;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divCAZUZA img,
#divROBERTO_FREJAT img,
#divMAURICIO_BARROS img,
#divDE img,
#divGUTO_GOFFI img,
#divPENINHA img,
#divFERNANDO_MAGALHAES img,
#divRODRIGO_SANTOS img,
#divRODRIGO_SURICATO img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 1%;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}