#divROB_HALFORD,
#divKK_DOWNING,
#divGLENN_TIPTON,
#divIAN_HILL,
#divSIMON_PHILLIPS,
#divLES_BINKS,
#divDAVE_HOLLAND,
#divSCOTT_TRAVIS,
#divRICHIE_FAULKNER {
    font-size: 17px;
    position: absolute;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divROB_HALFORD img,
#divKK_DOWNING img,
#divGLENN_TIPTON img,
#divIAN_HILL img,
#divSIMON_PHILLIPS img,
#divLES_BINKS img,
#divDAVE_HOLLAND img,
#divSCOTT_TRAVIS img,
#divRICHIE_FAULKNER img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 0;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}