#divROD_EVANS,
#divRITCHIE_BLACKMORE,
#divNICK_SIMPER,
#divJOHN_LORD,
#divIAN_PAICE,
#divIAN_GILLAN,
#divROGER_GLOVER,
#divDAVID_COVERDALE,
#divGLENN_HUGHES,
#TOMMY_BOLIN,
#divJOE_TURNER,
#divSTEVE_MORSE,
#divDON_AIREY {
    font-size: 17px;
    position: absolute;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divROD_EVANS img,
#divRITCHIE_BLACKMORE img,
#divNICK_SIMPER img,
#divJOHN_LORD img,
#divIAN_PAICE img,
#divIAN_GILLAN img,
#divROGER_GLOVER img,
#divDAVID_COVERDALE img,
#divGLENN_HUGHES img,
#TOMMY_BOLIN img,
#divJOE_TURNER img,
#divSTEVE_MORSE img,
#divDON_AIREY img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 1%;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}