 body {
     font-size: 2.2em;
 }
 
 a .tritono {
     margin-top: .7%;
     margin-left: 64.5%;
     float: left;
     position: absolute;
 }
 
 #divCountry,
 #divBlues,
 #divR_B,
 #divGospel {
     font-size: 14px;
     position: absolute;
     top: 87%;
     left: 45%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divGuitarra {
     font-size: 14px;
     position: absolute;
     top: 104%;
     left: 10%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divBase,
 #divSolo {
     font-size: 14px;
     position: absolute;
     top: 108%;
     left: 7%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divContra,
 #divEletrico {
     font-size: 14px;
     position: absolute;
     top: 115%;
     left: 50%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divBateria {
     font-size: 14px;
     position: absolute;
     top: 120%;
     left: .8%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divPiano,
 #divSax {
     font-size: 14px;
     position: absolute;
     top: 120%;
     left: 35%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divTempo {
     font-size: 14px;
     position: absolute;
     top: 136%;
     left: 23%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divCaixa {
     font-size: 14px;
     position: absolute;
     top: 136%;
     left: 49.5%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divRosetta {
     font-size: 14px;
     position: absolute;
     top: 202%;
     left: 33%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divGoree {
     font-size: 14px;
     position: absolute;
     top: 202%;
     left: 49%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divJimy {
     font-size: 14px;
     position: absolute;
     top: 207%;
     left: 20%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divBill {
     font-size: 14px;
     position: absolute;
     top: 207%;
     left: 49%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divJackie {
     font-size: 14px;
     position: absolute;
     top: 209%;
     left: 1%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 #divClock,
 #divBillH {
     font-size: 14px;
     position: absolute;
     top: 217%;
     left: 25%;
     border: solid 1px #696969;
     width: 50%;
     height: 44%;
     display: none;
     background-color: #D3D3D3;
     padding: .5%;
     height: auto;
 }
 
 .css {
     float: left;
     margin-top: 1%;
     max-width: 25%;
     margin-left: 1%;
     margin-right: 1%;
 }