#divBON_JOVI,
#divRICHIE_SAMBORA,
#divALEC_SUCH,
#divDAVID_BRYAN,
#divTICO_TORRES,
#divHUGH_MCDONALD,
#divJOHN_SHANKS {
    font-size: 17px;
    position: absolute;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divBON_JOVI img,
#divRICHIE_SAMBORA img,
#divALEC_SUCH img,
#divDAVID_BRYAN img,
#divTICO_TORRES img,
#divHUGH_MCDONALD img,
#divJOHN_SHANKS img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 1%;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}

.div-certificacao {
    display: flex;
}

.tabela,
.tabela-2 {
    width: 100%;
}