#divCHESTER_BENNINGTON,
#divMIKE_SHINODA,
#divJOE_HAHN,
#divBRAD_DELSON,
#divROB_BOURDON,
#divDAVE_FARRELL {
    position: absolute;
    font-size: 17px;
    left: 40%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: 1%;
    height: auto;
}

#divCHESTER_BENNINGTON img,
#divMIKE_SHINODA img,
#divJOE_HAHN img,
#divBRAD_DELSON img,
#divROB_BOURDON img,
#divDAVE_FARRELL img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 0;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}