#divRENATO_RUSSO,
#divDADO_VILLA-LOBOS,
#divRENATO_ROCH,
#divMARCELO_BONFA {
    font-size: 17px;
    position: absolute;
    left: 40%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: 1%;
    height: auto;
}

#divRENATO_RUSSO img,
#divDADO_VILLA-LOBOS img,
#divRENATO_ROCH img,
#divMARCELO_BONFA img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 0;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}