#divJIMMY_PAGE,
#divJOHN_BONHAM,
#divJOHN_JONES,
#divROBERT_PLANT {
    position: absolute;
    left: 40%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: 1%;
    height: auto;
}

#divJIMMY_PAGE img,
#divJOHN_BONHAM img,
#divJOHN_JONES img,
#divROBERT_PLANT img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 0;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}