#divOZZY_OSBORNE,
#divTONY_IOMMI,
#divGEEZER_BUTLER,
#divBILL_WARD,
#divRONNIE_DIO,
#divGEOFF_NICHOLLS,
#divVINNY_APPICE,
#divIAN_GILLAN,
#divDAVE_HUGHES,
#divDAVE_SPITZ,
#divERiC_SINGER,
#divTONY_MARTIN,
#divBOB_DAISLEY,
#divLAURENCE_COTTLE,
#divCOZY_POWELL,
#divBRIAN_MAY,
#divNEIL_MURRAY,
#divBOBBY_RONDINELLI,
#divBRAD_WILK {
    font-size: 17px;
    position: absolute;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divOZZY_OSBORNE img,
#divTONY_IOMMI img,
#divGEEZER_BUTLER img,
#divBILL_WARD img,
#divRONNIE_DIO img,
#divGEOFF_NICHOLLS img,
#divVINNY_APPICE img,
#divIAN_GILLAN img,
#divDAVE_HUGHES img,
#divDAVE_SPITZ img,
#divERiC_SINGER img,
#divTONY_MARTIN img,
#divBOB_DAISLEY img,
#divLAURENCE_COTTLE img,
#divCOZY_POWELL img,
#divBRIAN_MAY img,
#divNEIL_MURRAY img,
#divBOBBY_RONDINELLI img,
#divBRAD_WILK img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 1%;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}