#divAM1,
#divRB1,
#divKL1,
#divLM1,
#divAH1,
#divTN1,
#divAM2,
#divRB2,
#divKL2,
#divLM2,
#divRC2 {
    font-size: 17px;
    position: absolute;
    top: 247%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divAM3,
#divRB3,
#divKL3,
#divLM3,
#divRC3 {
    font-size: 17px;
    position: absolute;
    top: 188%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divAM4,
#divRB4,
#divKL4,
#divLM4,
#divRC4 {
    font-size: 17px;
    position: absolute;
    top: 267%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divEF5,
#divRB5,
#divKL5,
#divFA5,
#divAP5 {
    font-size: 17px;
    position: absolute;
    top: 237%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divEF6,
#divRB6,
#divKL6,
#divFA6,
#divAP6 {
    font-size: 17px;
    position: absolute;
    top: 293%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divEF7,
#divRB7,
#divKL7,
#divFA7,
#divAP7 {
    font-size: 17px;
    position: absolute;
    top: 243%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divEF8,
#divRB8,
#divKL8,
#divFA8,
#divRC8 {
    font-size: 17px;
    position: absolute;
    top: 258%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divFL09,
#divRB09,
#divKL09,
#divFA09,
#divBV09 {
    font-size: 17px;
    position: absolute;
    top: 250%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divFL10,
#divRB10,
#divMB10,
#divFA10,
#divBV10 {
    font-size: 17px;
    position: absolute;
    top: 254%;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

.css {
    float: left;
    margin-top: 1%;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}