#divGLENN_FREY,
#divDON_HENLEY,
#divBERNIE_LEADON,
#divRANDY_MEISNER,
#divDON_FELDER,
#divJOE_WALSH,
#divTIMOTHY_SCHMIT,
#divVINCE_GILL {
    font-size: 17px;
    position: absolute;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divGLENN_FREY img,
#divDON_HENLEY img,
#divBERNIE_LEADON img,
#divRANDY_MEISNER img,
#divDON_FELDER img,
#divJOE_WALSH img,
#divTIMOTHY_SCHMIT img,
#divVINCE_GILL img {
    margin-bottom: 2%;
}

ul {
    list-style: none;
}

.css {
    float: left;
    margin-top: 1%;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}