#divSTEVEN_TYLER,
#divJOE_PERRY,
#divBRAD_WHITFORD,
#divTOM_HAMILTON,
#divJOEY_KRAMER,
#divJIMMY_CRESPO {
    font-size: 17px;
    position: absolute;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divSTEVEN_TYLER img,
#divJOE_PERRY img,
#divBRAD_WHITFORD img,
#divTOM_HAMILTON img,
#divJOEY_KRAMER img,
#divJIMMY_CRESPO img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 1%;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}