#divAXL_ROSE,
#divSLASH,
#divIZZI_STRADLIN,
#divDUFF_MCKAGAN,
#divSTEVEN_ADLER,
#divMATT_SORUM,
#DIZZY_REED,
#GILBY_CLARKE,
#divBUMBLEFOOT,
#divRICHARD_FORTUS,
#divTOMMY_STINSON,
#divFRANK_FERRER {
    font-size: 17px;
    position: absolute;
    left: 42%;
    border: solid 1px #696969;
    width: 50%;
    height: 44%;
    display: none;
    background-color: #D3D3D3;
    padding: .5%;
    height: auto;
}

#divAXL_ROSE img,
#divSLASH img,
#divIZZI_STRADLIN img,
#divDUFF_MCKAGAN img,
#divSTEVEN_ADLER img,
#divMATT_SORUM img,
#DIZZY_REED img,
#GILBY_CLARKE img,
#divBUMBLEFOOT img,
#divRICHARD_FORTUS img,
#divTOMMY_STINSON img,
#divFRANK_FERRER img {
    margin-bottom: 2%;
}

.css {
    float: left;
    margin-top: 0;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}